[
{raven, [
    {dsn, ""},
    {error_logger, false}
]},
{estatsd, [
    {graphite_host, ""}
]},
{catbot, [
    {http, [
        {port, 8192}
    ]},
    {reddit, [
        {client_id, ""},
        {client_secret, ""},
        {user_agent, "Catbot (by u/rschlaikjer)"}
    ]},
    {paths, [
        {images, "/tmp/catbot/images/"}
    ]},
    {database, [
        {database, ""},
        {username, ""},
        {password, ""},
        {host, ""},
        {schema, ""}
    ]},
    {slack, [
        {api_tokens, [
            {my_slack_group, <<"">>}
        ]}
    ]}
]}
].
